PORT=3000
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
MONGO_URI_OLD=
MONGO_DB_OLD=
MONGO_URI_NEW=
MONGO_DB_NEW=
MONGO_COLLECTION_OLD=
MONGO_COLLECTION_NEW=
BATCH_SIZE=1000
JWT_SECRET=
OWNCLOUD_DOMAIN=
OWNCLOUD_URL=
OWNCLOUD_USER=
OWNCLOUD_PASS=
OWNCLOUD_WORK_DIR=work/
OWNCLOUD_FINAL_DIR=finalizado/
RABBITMQ_VERSION=4.0-management
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_URL=